<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=pitch.title%></title>
</head>
<body>
    <h1><%=pitch.title%></h1>
    <h2><%=pitch.location%></h2>

    <div>
        <a href="http://localhost:3000/pitches/edit/<%=pitch._id%>"">Edit Pitch</a>
    </div>

    <div>
        <a href="http://localhost:3000/pitches">Back to Index</a>
    </div>
    
    <div>
        <form action="http://localhost:3000/pitches/<%=pitch._id%>?_method=DELETE" method = "post">
            <button>Delete Pitch</button>
        </form>
    </div>
</body>
</html>