<% layout("layouts/boilerplate") %>
<div class="container mt-5">
    <h1 class="mb-4">All Pitches</h1>
    <div class="mb-4">
        <a href="http://localhost:3000/pitches/new" class="btn btn-success">Add New Pitch</a>
    </div>
    <% for (let pitch of pitches) { %>
        <div class="card mb-4 shadow-sm">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="<%= pitch.image %>" class="img-fluid rounded-start" alt="<%= pitch.title %>">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= pitch.title %></h5>
                        <p class="card-text"><small class="text-muted"><%= pitch.location %></small></p>
                        <p class="card-text"><%= pitch.description %></p>
                        <a href="/pitches/<%= pitch._id %>" class="btn btn-primary">View <%= pitch.title %></a>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
</div>
